@media screen and ( max-width: 1199px ) {

    .portfolio-item {
        .image {
            img {
                height: 163px;
            }
        }
    }

}

@media screen and ( max-width: 991px ) {

    .portfolio-item {
        .image {
            img {
                height: 121px;
            }
        }
    }

}

@media screen and ( max-width: 767px ) {

    .selector-container {
        text-align: left;
    }

    .selector-dropdown {
        display: block;

        span {
            display: block;
        }
    }

    .portfolio-item {
        .image {
            img {
                height: auto;
            }
        }
    }

}