@media screen and ( max-width: 1200px ) {

    .portfolio-item {

        .image {

            img {
                height: 163px;
            }
        }

    }

}

@media screen and ( max-width: 992px ) {

    .portfolio-item {

        .image {

            img {
                height: 121px;
            }
        }

    }

}

@media screen and ( max-width: 768px ) {

    .portfolio-item {

        .image {

            img {
                height: auto;
            }
        }
    }

}