// footer responsiveness

@media screen and ( max-width: 768px ) {

    footer {
        font-size: 15px;
    }

    ul.social-media li {
        margin-right: 50px;
    }

}

@media screen and ( max-width: 480px ) {

    footer {
        font-size: 10px;
        height: auto;

    }

    ul.social-media li {
        margin-right: 25px;

        &:last-of-type {
            margin-right: 0;
        }
    }

}