@media screen and ( max-width: 991px ) {

    .portfolio-specs {
        padding-top: 40px;
    }

    .portfolio-overview {
        padding-bottom: 50px;
    }

}

@media screen and ( max-width: 767px ) {

    .portfolio-slider-nav {

        .thumbnail {
            margin: 0 10px;
        }

    }

}