// hm sprite animations
@keyframes hm-cow-happy {
    100% {background-position: -324px 100%;}
}

@-webkit-keyframes hm-cow-happy {
    100% {background-position: -324px 100%;}
}

@-moz-keyframes hm-cow-happy {
    100% {background-position: -324px 100%;}
}