.btn {
    font-weight: bold;
    font-size: 20px;
    background: $yellow-light;
    color: $black;
    transition: background .2s ease-in;
    outline: none;
    border: 5px solid $black;
    border-radius: 8px;
    font-family: 'Proxima Nova Bold', sans-serif;
    width: 100%;
    padding: 15px 0;
    letter-spacing: 0;

    &:hover, &:active, &:focus {
        background: $blue;
        color: $white;
        outline: 0 !important;
    }

    &:active, &:focus {
        @include transform( scale(.95,.95) );
    }

    &.disabled {
        background: gray;
        color: $white;

        &:hover, &:active, &:focus {
            background: darken(gray, 8%)
        }
    }

    &.btn-full {
        width: 100%;
    }
}

@media screen and ( min-width: $screen-xs-min ) {
    .btn {
        padding: 15px 35px;
        letter-spacing: 2px;
        width: auto;
        width: initial;
    }
}