// fonts
@font-face {
    font-family: 'Proxima Nova';
    src: url('../../fonts/proxima-nova/Proxima-Nova-Reg.otf');
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../../fonts/proxima-nova/Proxima-Nova-Light.otf');
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../../fonts/proxima-nova/Proxima-Nova-Sbold.otf');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../../fonts/proxima-nova/Proxima-Nova-Bold.otf');
}