footer {
    background: $blue-dark;
    padding: 80px 0;
    font-size: 10px;
    height: auto;
    margin-top: 260px;

    a {
        color: $white;
        display: block;

        span:before {
            font-size: 5em;
            @include transition( all .4s );
        }

        &:hover, &:active, &:focus {
            color: $white;
            text-decoration: none;
            span:before {
                @include transform( rotate(180deg) );
            }
        }
    }
}

ul.social-media {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
        display: inline-block;
        margin-right: 25px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

@media screen and ( min-width: $screen-xs-min ) {
    footer {
        height: 260px;
        font-size: 15px;
    }

    ul.social-media {
        li {
            margin-right: 50px;
        }
    }
}

@media screen and ( min-width: $screen-sm-min ) {
    footer {
        font-size: 20px;
    }

    ul.social-media {
        li {
            margin-right: 80px;
        }
    }
}