html {
    height: 100%;
    min-width: 320px;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width:100%;


    &.overlay {
        overflow: hidden;
    }
}

::selection {
    color: $white;
    background-color: $blue;
}

::-moz-selection {
    color: $white;
    background-color: $blue;
}

a {
    color: $pink;
    @include transition( all .4s );

    &:hover, &:focus, &:active {
        //text-decoration: none;
        color: $blue;
    }
}

h1, h2, h3, h4, h5 {
    font-family: 'Proxima Nova Bold', sans-serif;
    line-height: normal;
    margin: auto;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 38px;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -260px;
}

#breadcrumbs {
    font-size: 16px;
    margin: 20px auto;
}

.ajax-loader {
    background: url('../images/spin.svg') 0/contain no-repeat;
    height: 60px;
    width: 60px;
    display: none;
    margin:auto;

    &.show {
        display: block;
    }
}