// mixins
@mixin transition( $properties ) {
    -webkit-transition: $properties;
    -moz-transition: $properties;
    -o-transition: $properties;
    transition: $properties;
}

@mixin transform ( $properties ) {
    -webkit-transform: $properties;
    -moz-transform: $properties;
    -ms-transform: $properties;
    -o-transform: $properties;
    transform: $properties;
}

@mixin vertical-align($top: 50%, $position: relative) {
    position: $position;
    top: $top;
    -webkit-transform: translateY(-$top);
    -moz-transform: translateY(-$top);
    -ms-transform: translateY(-$top);
    -o-transform: translateY(-$top);
    transform: translateY(-$top);
}

@mixin animation( $properties ) {
    -webkit-animation: $properties;
    -moz-animation: $properties;
    -o-animation: $properties;
    animation: $properties
}