.interior-header {
    position: relative;
    background: $blue-dark;
    //padding-top: 88px;
    height: 300px;
    text-align: center;
    font-family: 'Proxima Nova Bold', sans-serif;
    color: $white;

    h1 {
        font-size: 55px;
        letter-spacing: 3px;
        @include vertical-align(65%);
    }

    .star-bg-two {
        background-position-y: -50px;
    }
}

.body-content {
    padding: 50px 0 100px;
}
