.contact-form-header {
    font-size: 22px;
    text-align: center;

    h2 {
        margin-bottom: 20px;
    }

    .text, .small {
        display: none;
    }
}

.rocket-container {
    position: relative;
    display: none;

    .canvas-container {
        position: relative;
        text-align: center;

        &.blast-off {
            @include animation(rocket-blastoff 5s linear);
        }
    }
}

.rocket-toggle {
    color: $pink;
    font-weight: bold;
    cursor: pointer;
    @include transition( all .4s );

    &:hover, &:active, &:focus {
        color: $yellow-light;
    }
}

#rocket-canvas {
    width: 100%;
}

@media screen and ( min-width: $screen-xs-min ) {
    #rocket-canvas {
        width: inherit;
    }
}

@media screen and ( min-width: $screen-sm-min ) {
    .contact-form-header {
        .text, .small {
            display: block;
        }
    }

    #rocket-canvas {
        width: 100%;
    }

    .rocket-container {
        display: block;
        height: 500px;
        margin-top: 150px;

        .canvas-container {
            position: absolute;
        }
    }
}

@media screen and ( min-width: $screen-md-min ) {
    .rocket-container {
        height: 700px;
        margin-top: 0;
    }
}